{% extends 'aplicacion/base.html' %}
{% load static %}


{% block titulo %}
    Cursos
{% endblock titulo %}


{% block cabecera %}
    Listado de Cursos
{% endblock cabecera %}
    
{% block contenido %}
<table>
    <tr>
        <td width="200"><h2>Cursos</h2></td>
        <td>
            <a
            href="{% url 'curso_form2' %}"
            class="btn btn-primary btn-sm"
            ><i class="fa fa-plus fa-lg" title="Agregar"> </i>
            </a>
        </td>
    </tr>
</table>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Comision</th>
        </tr>
    </thead>
    <tbody>
    {% for curso in cursos %}
    <tr>
        <td>{{ curso.id }}</td>
        <td>{{ curso.nombre }}</td>
        <td>{{ curso.comision }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock contenido %}





    