{% extends 'aplicacion/base.html' %}
{% load static %}


{% block titulo %}
    Cursos
{% endblock titulo %}


{% block cabecera %}
    Listado de Cursos
{% endblock cabecera %}
    
{% block contenido %}
<div class="table-container">
    <table class="table">
      <tr>
        <td><h2>Cursos</h2></td>
        <td>
            <a href="{% url 'curso_form2' %}" class="btn btn-primary btn-sm">
              <i class="fa fa-plus fa-lg" title="Agregar"></i>
            </a>
        </td>
      </tr>
    </table>
    <table class="table cursos-table">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Comision</th>
        </tr>
      </thead>
      <tbody>
        {% for curso in cursos %}
        <tr>
          <td>{{ curso.nombre }}</td>
          <td>{{ curso.comision }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock contenido %}





    